body {
    margin: 0;

    font-family: "Russo One", sans-serif;
    font-weight: 400;
  }

p {
    font-size: 15px;
    line-height: 18px;
}

h1{
    font-size: 90px;
    line-height: 135px;
}
  
  .main-container {
    width: 1000px;
    margin: auto;
  }
  
  /* Шапка */
  
  .navbar {
    width: 100%;
    box-sizing: border-box;
  
    display: flex;
    justify-content: space-between;
    padding: 23px 85px 0;
    font-size: 16px;
    line-height: 19px;
  }
  
  .navbar__nav-wrapper {
    display: flex;
  }
  
  .navbar__logo {
    font-size: 32px;
    line-height: 39px;
    display: flex, inline-block;
    align-items: center;
  }
  
  .logo__ice {
    color: #0eb7ff;
  }
  
  .logo__baby {
    color: #006cd0;
  }
  
  .navbar__menu {
    list-style-type: none;
    padding: 0 0 5px 0;
    margin: 0 0 0 20px;
  
    display: flex;
    align-items: flex-end;
  }
  
  .navbar__menu-item {
    text-decoration: none;
    color: #000000;
    margin-left: 18px;
    border-bottom: 0.3px solid #000000;
  }
  
  .navbar__menu-item:first-child {
    margin-left: 0;
  }
  
  .navbar__menu-item-chosen {
    text-decoration: none;
    color: #006cd0;
    margin-left: 18px;
    border-bottom: 0.3px solid #006cd0;
  }
  
  .navbar__phone {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
  
    font-size: 17px;
    line-height: 20px;
  }
  

  
  /* Доминирующий модуль */
  
  .main-module {
    padding-top: 44px;
    padding-right: 4px;
    text-align: center;
  
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #004381;
  }
  
  .main-pic {
    margin-bottom: -166px;
  }
  
  .headline {
    margin-bottom: -30px;
    width: 100%;
    padding-left: 17px;
  }
  
  .headline-sign {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
  
    margin: 22px 0 0 0;
  }
  


  /* Подвал */
  
  .bottom {
    width: 100%;
    box-sizing: border-box;
  
    display: flex;
    justify-content: space-between;
    padding: 100px 85px 50px;
  }
  
  .bottom__left-wrapper {
    display: flex, inline-block;
    align-items: flex-end;
  }
  
  .bottom-logo {
    font-size: 28px;
    line-height: 34px;
  }

  .bottom__left-text {
    margin: 10px 0 0 0;
  }

  .bottom__right-wrapper {
    display: flex;
    align-items: flex-end;
  }
  
  .bottom__right-text {
    padding-right: 35px;
    margin: 0;
  }
  
  .bottom__social-links {
    padding-bottom: 4px;
  }