body {
    margin: 0;
  }
  
  .main-container {
    width: 1000px;
    margin: auto;
  }
  
  /* Шапка */
  
  .navbar {
    width: 100%;
    box-sizing: border-box;
  
    display: flex;
    justify-content: space-between;
    padding: 23px 85px 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  
  .navbar__nav-wrapper {
    display: flex;
  }
  
  .logo {
    font-size: 32px;
    line-height: 39px;
    display: flex, inline-block;
    align-items: center;
  }
  
  .logo__ice {
    color: #0eb7ff;
  }
  
  .logo__baby {
    color: #006cd0;
  }
  
  .navbar__menu {
    list-style-type: none;
    padding: 0 0 5px 0;
    margin: 0 0 0 20px;
  
    display: flex;
    align-items: flex-end;
  }
  
  .navbar__menu-item {
    margin-left: 18px;
    border-bottom: 0.3px solid #000000;
  }
  
  .navbar__menu-item:first-child {
    margin-left: 0;
  }
  
  .navbar__menu-item-chosen {
    color: #006cd0;
    margin-left: 18px;
    border-bottom: 0.3px solid #006cd0;
  }
  
  .navbar__phone {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
  
    font-size: 17px;
    line-height: 20px;
  }
  

  
  /* Доминирующий модуль */
  
  .greate-condei {
    padding-top: 44px;
    padding-right: 4px;
    text-align: center;
  
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #004381;
  }
  
  .picture {
    margin-bottom: -166px;
  }
  
  .mango {
    /* position: absolute;
      display: flex;
      justify-content: center; 
      bottom: -90px;  */
  
    margin-bottom: -130px;
    padding-bottom: 100px;
    width: 100%;
    padding-left: 17px;
  
    font-size: 90px;
    line-height: 135px;
  }
  
  .no-limits {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
  
    margin-top: 22px;
    margin-bottom: 0;
  }
  


  /* Подвал */
  
  .bottom {
    width: 100%;
    box-sizing: border-box;
  
    font-family: "Russo One", sans-serif;
    font-weight: 400;
  
    display: flex;
    justify-content: space-between;
    padding: 100px 85px 50px;
    column-count: 12;
    column-width: 65px;
  }
  
  .bottom__left-wrapper {
    display: flex;
    align-items: flex-end;
  }
  
  .bottom__right-wrapper {
    display: flex;
    align-items: flex-end;
  }
  
  .bottom__right-wrapper-social {
    display: flex;
    align-items: flex-end;
    /* border: 0; */
  }
  
  .bottom-logo {
    font-size: 28px;
    line-height: 34px;
  }
  
  .bottom__right-wrapper-padding {
    padding-right: 35px;
    font-size: 15px;
    line-height: 18px;
  }
  
  .rekviziti {
    margin: 10px 0 0 0;
    font-size: 15px;
    line-height: 18px;
  }
  
  